Flask
Flask-Uploads
Flask-SQLAlchemy
Flask-WTF
PyPDF2
pdfplumber
reportlab
pdfrw
pycryptodome
cryptography
pytesseract
Pillow
pdf2image
python-docx
python-pptx
XlsxWriter
img2pdf
boto3
google-cloud-storage
Flask-Cors
python-magic
Flask-Limiter
